* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #a3a2a2;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.img-yoga {
    display: block;
    margin: 40px auto;
}

.container {
    width: 321px;
    height: 46px;
    margin: 0 auto;
}


input {
    display: block;
    height: 46px;
    width: 321px;
    background: #F7F7F7;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 4px 4px rgb(0 0 0 / 9%);
    margin: 20px auto;
    padding-left: 18px;
}

input ::placeholder {
    color: #969696;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    line-height: 15px;
    padding-left: 18px;
}

.input-password {
    margin-top: 21px;

}

.forgot-password {
    width: 321px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #323232;
    margin: 10px auto;
    display: block;
    text-align: right;

}

button {
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border:none;
    border-radius: 10px;
    width: 133px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.link-signup {
    display: block;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 36px ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #323232;

}

strong {
   color:#323232; 
}

.or-paragraph {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #323232;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
}

.img-flick {
   margin: 0 18px;
}
